<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
</head>
<body>
    <h1>BLOG List</h1>

    {% for p in pst %}
        <hr>
        <h3><a href="{{p.get_absolute_url}}">{{p.title}}</a></h3>
        <h4>date</h4>
        <hr>
        <p> {{p}} </p>
        <hr>
    {% endfor %}
</body>
</html>
<!--python manage.py startapp exam1 이거 다음 sttings.py에서 추가, exam1에 models.py도 설정 다음에-->
<!--python manage.py makemigrations, python manage.py migrate-->
<!--exam1에 admin.py에 post추가-->