<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Blog list</h1>
    {% for p in posts %}
        <!--<hr> p.get_absolute_url() ->/posts/1/-->
        <h2>제목:<a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2> <!--변수 출력에는 중괄호가 2개가 들어가고 코드 작성에는 %가 들어간다.-->
        <h4>등록일: {{ p.created_at }}</h4>
        <h4>수정일: {{ p.updated_at }}</h4>  
        <p>내용: {{ p.content }}</p>
    {% endfor %}


</body>
</html>